@import "src/app/_shared/styles/theme";

form {
  width: 100%;

  .form_field {
    width: 100%;
    // margin-bottom: 0.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input {
      display: block;
      width: 100%;
      height: 2.5rem;
      margin-bottom: 0.2rem;
      padding: 0.5rem;
      border: none;
      border: 1px solid $black_color;
      border-radius: 0.3rem;

      &:focus {
        outline: none !important;
        border: 2px solid $primary_color;
      }
    }

    .input_error {
      border: 1px solid $red_color;
    }

    .error_message {
      height: 1.5rem;
      font-size: 0.8rem;
      color: $red_color;
    }
  }

  .button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    height: 2.5rem;

    button {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      background-color: $primary_color;
      color: $white_color;
      font-weight: 600;
    }

    .btn_disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}
