<div class="comment_reply_layout">
  <div class="wrapper">
    <div class="avatar_container">
      <img [src]="replyData.ownerAvatar">
    </div>
    <div class="right_container">
      <div class="info_container">
        <div class="username">
          {{replyData.ownerName}}
        </div>
        <div class="time">
          {{replyData.commentTime | date:'short'}}
        </div>
      </div>
      <div class="comment_text">
        {{replyData.commentText}}
      </div>
    </div>
  </div>
  <div *ngIf="replyData.ownerId === currentUser" class="actions_container">
    <button class="action_button">
      Edit
    </button>
  </div>
</div>
