<div class="comment_reply_layout">
  <div class="wrapper">
    <div class="avatar_container">
      <img [src]="replyData.ownerAvatar">
    </div>
    <div class="right_container">
      <app-comment-reply-template
        [isEditable]="isReplyEditable"
        [commentData]="replyData"
        (cancelEvent)="cancelEditReplyHandler()"
        (updateEvent)="updateReplyHandler($event)"
      ></app-comment-reply-template>
    </div>
  </div>
  <div *ngIf="replyData.ownerId === currentUser" class="actions_container">
    <button
      *ngIf="replyData.ownerId === currentUser && !isReplyEditable"
      (click)="editButtonClickHandler()"
      class="action_button"
    >
      Edit
    </button>
  </div>
</div>
