@import "src/app/_shared/styles/theme";

.info_container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .username {
    color: $primary_color;
  }

  .time {
    color: $gray_color;
    font-size: 0.8rem;
  }
}

.comment_text {
  width: 100%;
  word-break: break-word;
}

.editable_container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  input {
    width: 70%;
    height: 2.5rem;
    padding: 0.5rem;
    border: none;
    border: 1px solid $black_color;
    border-radius: 0.3rem;

    &:focus {
      outline: none !important;
      border: 2px solid $primary_color;
    }
  }

  button {
    width: 13%;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: $primary_color;
    color: $white_color;
  }

  .cancel_button {
    background-color: $gray_color;
    color: $black_color;
  }

  .btn_disabled {
    opacity: 0.6;
    cursor: default;
  }
}
